doctype html
html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    )
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Webpack App
    link(rel="icon", href=require("@/images/webpack"), type="image/svg+xml")
  body
    - const cardNameList = ["Webpack", "Pug", "PostCSS", "TypeScript"];
    include ~@/components/hello
    each cardName in cardNameList
      +card(cardName)
