:root {
  --primary-color: #fff;
  --secondary-color: #3a76ba;
}

.wrapper {
  --text-color: var(--primary-color);
  --background-color: var(--secondary-color);
  --shadow-color: var(--primary-color);

  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 90rem;
  padding-bottom: 180rem;
  background-color: var(--background-color);
  gap: 100rem;
  text-align: center;
  @media (--medium) {
    justify-content: center;
    gap: 200rem;
  }

  & h1 {
    color: var(--text-color);
    font-size: 80rem;
    text-shadow: 0 0 10rem var(--shadow-color);
    @media (--medium) {
      font-size: 120rem;
    }
  }

  & .img-wrapper {
    width: 250rem;
    animation: rotate linear 3s infinite;
    filter: drop-shadow(0 0 10rem var(--shadow-color));

    & img {
      @media (--medium) {
        transform: scale(1.4);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
